# Python
__pycache__/
*.py[cod]
.venv/
.mypy_cache/
.pytest_cache/
coverage.xml

# Node
node_modules/
*.log
.parcel-cache/
dist/
.pnpm-debug.log*
.yarn/*

# Project data
data/
.DS_Store
ingest/data_markdown/
# Env files
*.env

# Markdown
*.md
!README.md
